nav {
    height: 73px;

    ul {
        li {
            list-style: none;

            a {
                &.active {
                    font-weight: bold;
                    // color: red;
                }
            }
        }
    }
}

.main-wrapper {
    width: 900px;
    height: auto;
    min-height: 50vh;
    margin: auto;
}