/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/variables';
@import 'assets/styles/utility.scss';
@import 'assets/styles/custom-classes.scss';

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: whitesmoke;
}

a, button {
    cursor: pointer;
}